.card-dashboard-product {
  margin-bottom: 10px;

  .card-body {
    .product-title {
      color: #0c0d36;
      font-size: 18px;
      font-weight: 400;
    }

    .product-category {
      color: #c5c5c5;
      font-size: 16px;
      font-weight: 400;
    }
  }
}
